<%
   # Initializers
   @isVersioning = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['versioning'] == "yes") : false
   @isCompliance = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['compliance'] == "yes") : false
%>
<!-- Recycle Modal -->
<div id="recycleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
    <h3 id="myModalLabel"><%= t(:recycle) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:recycle_msg1) %><br />
      <%= t(:recycle_msg2) %><br /><br />
      <%= t(:recycle_msg3) %>&nbsp;&nbsp;&nbsp;<input type="text" id="permaRecycleApproval" style="margin-top:8px;" /></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="recycleCancelBtn"><%= t(:cancel) %></button>
    <button class="btn btn-primary" id="recycleProceedBtn"><%= t(:proceed) %></button>
  </div>
</div>
<!-- -->

<!-- PermaDelete Modal -->
<div id="permaDeleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
    <h3 id="myModalLabel"><%= t(:the_purge) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:the_purge_msg1) %><br />
      <%= t(:the_purge_msg2) %><br /><br />
      <%= t(:the_purge_msg3) %>&nbsp;&nbsp;&nbsp;<input type="text" id="permaDeleteApproval" style="margin-top:8px;">
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="permaDeleteCancelBtn"><%= t(:cancel) %></button>
    <button class="btn btn-primary" id="permaDeleteProceedBtn"><%= t(:proceed) %></button>
  </div>
</div>
<!-- -->

<div id="container" class="container">

  <h3><%= t(:capitalized_archives) %></h3>

  <div style="overflow-x:auto;position:relative;">

    <table class="table table-striped" id="tblArchives">
      <thead>
      <tr>
        <th width="5%">#</th>
        <th width="15%"><%= t(:capitalized_operations) %></th>
        <th width="25%"><%= t(:key) %></th>
        <th width="55%"><%= t(:value) %></th>
      </tr>
      </thead>
      <tbody>

      <tr id="archivesDummyItem" style="display:none;">
        <td></td>
        <td>
          <a class="permaDeleteItem" href="#permaDeleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="icon-trash"></i></a>&nbsp;
          <a class="recycleItem" href="#recycleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="icon-retweet"></i></a>
        </td>
        <td></td>
        <td></td>
      </tr>

      </tbody>
    </table>
    <div style="overflow:hidden;">
        <div class="pagination" style="float:right;">
          <ul>
            <li class="disabled"><a class="navPrevious" href="javascript:void(0);"><%= t(:next) %></a></li>
            <li><a class="navFirst" href="javascript:void(0);"><%= t(:first) %></a></li>
            <!--<li><a class="navItem" href="#">1</a></li>
            <li><a class="navItem" href="#">2</a></li>
            <li><a class="navItem" href="#">3</a></li>-->
            <li><a href="javascript:void(0);"><span class="navCurrentPage">0</span>/<span class="navMaxPage">0</span></a></li>
            <li><a class="navLast" href="javascript:void(0);"><%= t(:last) %></a></li>
            <li class="disabled"><a class="navNext" href="javascript:void(0);"><%= t(:previous) %></a></li>
          </ul>
        </div>
    </div>
  </div>

</div>

<%= javascript_include_tag "manager/archives" %>