<%
   # Initializers
   @isVersioning = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['versioning'] == "yes") : false
   @isCompliance = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['compliance'] == "yes") : false
%>
<!-- meta create modal -->
<div id="metatagCreate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:create_metatag) %></h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span2"><%= t(:name) %></div>
      <div class="span8"><input id="metatagCreate_name" type="text" style="width:96%;" placeholder="" maxlength="32" /></div>
    </div>
    <div class="row-fluid">
      <div class="span2"><%= t(:content) %></div>
      <div class="span8"><textarea id="metatagCreate_content" rows="15" style="width:96%;font-family:'Courier New',sans-serif;" placeholder=""></textarea></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="metatagCloseBtn"><%= t(:close) %></button>
    <button id="metatagCreateBtnCreate" class="btn btn-primary" data-dismiss="modal" id="metatagCreateBtn" onclick="createMetatag()" disabled="disabled"><%= t(:create) %></button>
  </div>
</div>
<!-- -->

<!-- meta delete modal -->
<div id="metatagDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:delete_metatag) %></h3>
  </div>
  <div class="modal-body">
    <p id="metatagDeleteMsg" style="display:none;"><%= t(:are_you_sure_do_this) %></p>
    <p id="metatagDeleteInvalidMsg" style="display:none;"><%= t(:no_selection_yet) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button id="metatagDeleteButton" class="btn btn-primary" data-dismiss="modal" onclick="deleteMetatag()"><%= t(:delete) %></button>
  </div>
</div>
<!-- -->

<!-- placeholder create modal -->
<div id="placeholderCreate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:create_placeholder) %></h3>
  </div>
  <div class="modal-body">
   	<div class="row-fluid">
    	<div class="span2"><%= t(:name) %></div>
    	<div class="span8"><input id="placeholderCreate_name" type="text" style="width:96%;" placeholder="" maxlength="32" /></div>
    </div>
    <div class="row-fluid">
    	<div class="span2"><%= t(:content) %></div>
    	<div class="span8"><textarea id="placeholderCreate_content" rows="15" style="width:96%;font-family:'Courier New',sans-serif;" placeholder=""></textarea></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="placeholderCloseBtn"><%= t(:close) %></button>
    <button id="placeholderCreateBtnCreate" class="btn btn-primary" data-dismiss="modal" id="placeholderCreateBtn" onclick="createPlaceholder()" disabled="disabled"><%= t(:create) %></button>
  </div>
</div>
<!-- -->

<!-- script create modal -->
<div id="scriptCreate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:create_script) %></h3>
  </div>
  <div class="modal-body">
   	<div class="row-fluid">
    	<div class="span2"><%= t(:name) %></div>
    	<div class="span8"><input id="scriptCreate_name" type="text" style="width:96%;" placeholder="" maxlength="32" /></div>
    </div>
    <div class="row-fluid">
    	<div class="span2"><%= t(:content) %></div>
    	<div class="span8"><textarea id="scriptCreate_content" rows="15" style="width:96%;font-family:'Courier New',sans-serif;" placeholder=""></textarea></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="scriptCloseBtn"><%= t(:close) %></button>
    <button id="scriptCreateBtnCreate" class="btn btn-primary" data-dismiss="modal" id="scriptCreateBtn" onclick="createScript()" disabled="disabled"><%= t(:create) %></button>
  </div>
</div>
<!-- -->


<!-- placeholder delete modal -->
<div id="placeholderDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:delete_placeholder) %></h3>
  </div>
  <div class="modal-body">
    <p id="placeholderDeleteMsg" style="display:none;"><%= t(:are_you_sure_do_this) %></p>
    <p id="placeholderDeleteInvalidMsg" style="display:none;"><%= t(:no_selection_yet) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button id="placeholderDeleteButton" class="btn btn-primary" data-dismiss="modal" onclick="deletePlaceholder()"><%= t(:delete) %></button>
  </div>
</div>
<!-- -->

<!-- script delete modal -->
<div id="scriptDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:delete_script) %></h3>
  </div>
  <div class="modal-body">
    <p id="scriptDeleteMsg" style="display:none;"><%= t(:are_you_sure_do_this) %></p>
    <p id="scriptDeleteInvalidMsg" style="disiplay:none;"><%= t(:no_selection_yet) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button id="scriptDeleteButton" class="btn btn-primary" data-dismiss="modal" onclick="deleteScript()"><%= t(:delete) %></button>
  </div>
</div>
<!-- -->

<!-- template create modal -->
<div id="templateCreate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:create_template) %></h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
    	<div class="span2"><%= t(:name) %></div>
    	<div class="span8"><input id="templateCreate_name" type="text" style="width:96%;" placeholder="" maxlength="32" /></div>
    </div>
    <div class="row-fluid">
    	<div class="span2"><%= t(:content) %></div>
    	<div class="span8"><textarea id="templateCreate_content" rows="15" style="width:96%;" style="font-family:'Courier New',sans-serif;" placeholder=""></textarea></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="templateCloseBtn"><%= t(:close) %></button>
    <button id="templateCreateBtnCreate" class="btn btn-primary" data-dismiss="modal" id="templateCreateBtn" onclick="createTemplate()" disabled="disabled"><%= t(:create) %></button>
  </div>
</div>
<!-- -->

<!-- template delete modal -->
<div id="templateDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:delete_template) %></h3>
  </div>
  <div class="modal-body">
    <p id="templateDeleteMsg" style="display:none;"><%= t(:are_you_sure_do_this) %></p>
    <p id="templateDeleteInvalidMsg" style="display:none;"><%= t(:no_selection_yet) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button id="templateDeleteButton" class="btn btn-primary" data-dismiss="modal" onclick="deleteTemplate()"><%= t(:delete) %></button>
  </div>
</div>
<!-- -->

<!-- Code Compare Modal -->

<div id="codeCompareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:revision_comparison) %></h3>
  </div>
  <div class="modal-body">
    <div id="codeCompareModalBody" style="display:none;">
      <div style="display:block;overflow:hidden;margin:10px 0 10px 0;">
        <div style="float:left;font-weight:bold;"><%= t(:current_content) %></div>
        <div style="float:right;font-weight:bold;"><span id="codeCompareModalOtherVersion"></span></div>
      </div>
      <div id="compareView">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="codeCompareModalRevertBtn"><%= t(:revert_to_this_revision) %></button>
  </div>
</div>

<!-- sharing modal -->
<div id="sharingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:share_this) %></h3>
  </div>
  <div class="modal-body" style="position:relative;overflow:hidden;display:block;height:96px;">
    <div id="sharingOverlay" style="background:white;position:absolute;width:100%;height:100%;z-index:99;text-align:center;display:table;">
      <div style="display:table-cell;vertical-align:middle;"><%= t(:loading_sharing_data) %></div>
    </div>
    <p>Choose one sharing type:</p>
    <div style="text-align:center;padding:16px 0 16px 0;">
        <div id="sharingToggle" class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="sharingMode btn btn-primary" data-attr="w"><%= t(:no_sharing) %></button>
          <button type="button" class="sharingMode btn btn-primary" data-attr="lm"><%= t(:share_locally) %></button>
          <!--<button type="button" class="sharingMode btn btn-primary" data-attr="gm">share publicly</button>-->
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button id="sharingBtn" class="btn btn-primary" data-dismiss="modal" disabled="disabled"><%= t(:ok) %></button>
  </div>
</div>
<!-- -->

<!-- element selection modal -->
<div id="sharedElementSelection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:browsing_item) %></h3>
  </div>
  <div class="modal-body" style="max-height:350px;overflow-y:auto;overflow-x:hidden;">
    <div id="sharingOverlay">
      <div style="padding:32px;text-align:center;"><%= t(:loading_sharing_data) %></div>
    </div>
    <div id="sharedElementDummy" class="media" style="display:none;">
      <div id="sharedElementAbbrev" class="pull-left" style="width:53px;height:53px;background:rosybrown;display:table;text-align:center;font: 18px Arial, sans-serif;">
        <div style="display:table-cell;vertical-align:middle;color:white;">M</div>
      </div>
      <div class="media-body">
        <div style="font-size:15px;margin:-2px 0 6px 0;"><a id="sharedElementUsername" href="#">[name]</a> <%= t(:shared_a) %> <a id="sharedElementCat" href="javascript:void(0);">[category]</a> <%= t(:named) %> "<a id="sharedElementName" class="sharedElementPreview" href="#">[name]</a>"</div>
        <button id="sharedElementPreview" class="btn"><%= t(:preview) %></button>
        &nbsp;<button id="sharedElementSelectionBtn" class="btn"><%= t(:get_it) %></button>
      </div>
    </div>
    <div id="sharedItemContent" style="display:none;">

    </div>
  </div>
  <div style="text-align:center;margin:8px 0 8px 0;">
    <a id="sharedItemMore" href="javascript:void(0);" style="display:none;">&darr;</a>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
  </div>
</div>
<!-- -->

<!-- Code Preview Modal -->
<div id="codePreview" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:previewing_code) %></h3>
  </div>
  <div class="modal-body" style="text-align:center;height:512px;overflow:hidden;">
    <p><textarea id="codePreviewCode" contenteditable="false" style="width:90%;height:382px;font-family:courier, sans;border:none;outline:none;border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;"></textarea></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- -->

<!-- End of modal section -->

<div class="container" style="margin-bottom: 25px;">
	<div class="">
		<div class="row-fluid">
  			<div class="span3">
                <div id="elementsList">
                  <% if defined?(RxcmsSharingPlugin) %>
                      <ul class="nav nav-list">
                        <li class="nav-header"><%= t(:gallery) %></li>
                        <li><a href="#sharedElementSelection" data-toggle="modal"><%= t(:browse) %></a></li>
                      </ul>
                  <% end %>
                    <ul id="metatagList" class="nav nav-list">
                        <li class="nav-header"><%= t(:metatags) %><span style="margin-left:10px;"><a class="metatagCreate" href="#metatagCreate" data-toggle="modal" data-backdrop="static" data-keyboard="false">+</a></span><span style="margin-left:10px;"><a class="metatagDelete" href="#metatagDelete" data-toggle="modal">-</a></span><span style="margin-left:10px;"><a id="aMetaElementToggleVisibility" href="javascript:toggleMetatagVisibility()"><%= t(:hide) %></a></span></li>
                        <% @metas.each do |t| %>
                            <li class="listItemMeta"><a href="javascript:void(0);" onclick="showContent(this,'<%= t['key'].html_safe %>','meta');" data-id="<%= t['id'].to_s.html_safe %>"><%= defined?(RxcmsSharingPlugin) && @isCompliance ? '<i class="icon-share sharing"></i>&nbsp;'.html_safe : '' %><%= t['key'].html_safe %></a></li>
                        <% end %>
                    </ul>
                    <ul id="placeholderList" class="nav nav-list">
                        <li class="nav-header"><%= t(:placeholders) %><span style="margin-left:10px;"><a class="placeholderCreate" href="#placeholderCreate" data-toggle="modal" data-backdrop="static" data-keyboard="false">+</a></span><span style="margin-left:10px;"><a class="placeholderDelete" href="#placeholderDelete" data-toggle="modal">-</a></span><span style="margin-left:10px;"><a id="aItemElementToggleVisibility" href="javascript:togglePlaceholderVisbility()"><%= t(:hide) %></a></span></li>
                        <% @layouts.each do |t| %>
                            <li class="listItemElement"><a href="javascript:void(0);" onclick="showContent(this,'<%= t['key'].html_safe %>','element');" data-id="<%= t['id'].to_s.html_safe %>"><%= defined?(RxcmsSharingPlugin) && @isCompliance ? '<i class="icon-share sharing"></i>&nbsp;'.html_safe : '' %><%= t['key'].html_safe %></a></li>
                        <% end %>
                    </ul>
                    <ul id="scriptList" class="nav nav-list">
                        <li class="nav-header"><%= t(:scripts)%><span style="margin-left:10px;"><a class="scriptCreate" href="#scriptCreate" data-toggle="modal" data-backdrop="static" data-keyboard="false">+</a></span><span style="margin-left:10px;"><a class="scriptDelete" href="#scriptDelete" data-toggle="modal">-</a></span><span style="margin-left:10px;"><a id="aScriptToggleVisibility" href="javascript:toggleScriptVisibility()"><%= t(:hide) %></a></span></li>
                        <% @rubies.each do |t| %>
                            <li class="listItemScript"><a href="javascript:void(0);" onclick="showContent(this,'<%= t['key'].html_safe %>','script');" data-id="<%= t['id'].to_s.html_safe %>"><%= defined?(RxcmsSharingPlugin) && @isCompliance ? '<i class="icon-share sharing"></i>&nbsp;'.html_safe : '' %><%= t['key'].html_safe %></a></li>
                        <% end %>
                    </ul>
                    <ul id="templateList" class="nav nav-list">
                        <li class="nav-header"><%= t(:templates) %><span style="margin-left:10px;"><a class="templateCreate" href="#templateCreate" data-toggle="modal" data-backdrop="static" data-keyboard="false">+</a></span><span style="margin-left:10px;"><a class="templateDelete" href="#templateDelete" data-toggle="modal">-</a></span><span style="margin-left:10px;"><a id="aTemplateToggleVisibility" href="javascript:toggleTemplateVisibility()"><%= t(:hide) %></a></span></li>
                        <% @pages.each do |t| %>
                            <li class="listItemTemplate"><a href="javascript:void(0);" onclick="showContent(this,'<%= t['key'].html_safe %>','template');" data-id="<%= t['id'].to_s.html_safe %>"><%= defined?(RxcmsSharingPlugin) && @isCompliance ? '<i class="icon-share sharing"></i>&nbsp;'.html_safe : '' %><%= t['key'].html_safe %></a></li>
                        <% end %>
                    </ul>
                </div>

              <% if (@isVersioning) %>
                  <!-- Item history section -->
                  <div class="historyWidget" data-page="0" style="margin-top:16px;">
                    <ul id="historyList" class="nav nav-list historyList" style="overflow:hidden;">
                      <li class="nav-header"><%= t(:changes) %></li>
                      <!--<li style="font-size:12px;"><i class="icon-pencil"></i>&nbsp;<span>Anh Nguyen</span>&nbsp;(<span>1 hour ago</span>)</li>
                      <li style="font-size:12px;"><i class="icon-pencil"></i>&nbsp;<span>Anh Nguyen</span>&nbsp;(<span>2 days ago</span>)</li>-->
                    </ul>
                    <div style="overflow:hidden;padding-left:15px;padding-right:15px;">
                      <div style="font-size:12px;display:none;float:left;margin-right:5px;" class="historyNext"><a href="javascript:void(0);" id="historyListNext"><i class="icon-chevron-right"></i>&nbsp;<%= t(:next) %></a></div>
                      <div style="font-size:12px;display:none;float:left;"  class="historyPrev"><a href="javascript:void(0);" id="historyListPrev"><i class="icon-chevron-left"></i>&nbsp;<%= t(:previous) %></a></div>
                      <div style="font-size:12px;float:right;" class="historyPage"></div>
                    </div>
                  </div>
                  <!-- Item history section -->
              <% end %>

            </div>
  			<div class="span9" style="min-height:512px;">
                  <div id="meta" class="elementItem hidden">
                    <div>
                      <div class="row-fluid">
                        <div style="overflow:hidden;">
                          <div style="float:left;">
                            <h4><%= t(:code) %></h4>
                            <% if (@isVersioning) %>
                                <div style="margin:-8px 0 16px 0;font-size:12px;">
                                  <span id="versionNumberPage_meta"><i class="icon-check"></i>&nbsp;<%= t(:current) %></span>&nbsp;<span id="switchToCurrentPage" style="display:none;">(<a href="javascript:void(0);" class="switchToCurrentPage"><%= t(:switch_to_current) %></a>)</span>
                                </div>
                                <% end %>
                          </div>
                          <div style="float:right;">
                            <button id="metaSaveBtn" class="btn btn-primary"><%= t(:save) %></button>
                          </div>
                        </div>

                        <div style="text-align:left;">
                          <textarea id="tplMetaCode" rows="20" style="width:97%;text-align:left;font-family:'Courier New',sans-serif;">
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </div>

  				<div id="element" class="elementItem hidden">
  					<div>
  						<div class="row-fluid">
                            <% if (defined?(RxcmsPodioPlugin)) %>
  							<div class="span1" style="padding:5px;"><%= t(:podio_apps) %></div>
					  		<div id="appLabels" class="span10" style="padding:5px;">

					  		</div>
                            <% end %>
  						</div>
						<div class="row-fluid">
							<div style="overflow:hidden;">
								<div style="float:left;">
									<h4><%= t(:code) %></h4>
                                  <% if (@isVersioning) %>
                                          <div style="margin:-8px 0 16px 0;font-size:12px;">
                                            <span id="versionNumberPage_placeholder"><i class="icon-check"></i>&nbsp;<%= t(:current) %></span>&nbsp;<span id="switchToCurrentPage" style="display:none;">(<a href="javascript:void(0);" class="switchToCurrentPage"><%= t(:switch_to_current) %></a>)</span>
                                          </div>
                                      <% end %>
								</div>
								<div style="float:right;">
                                    <button class="cCodeCleanupBtn btn"><%= t(:reformat_code) %></button>
  									<button id="elementSaveBtn" class="btn btn-primary"><%= t(:save) %></button>
  								</div>
							</div>
							
  							<div style="text-align:left;">
  								<textarea id="tplElementHtmlCode" rows="20" style="width:97%;text-align:left;font-family:'Courier New',sans-serif;">
  								</textarea>
  							</div>
						</div>
  					</div>
  				</div>
  				
  				<div id="script" class="elementItem hidden">
  					<div>
  						<div class="row-fluid">
							<div style="overflow:hidden;">
								<div style="float:left;">
									<h4><%= t(:code) %></h4>
                                  <% if (@isVersioning) %>
                                      <div style="margin:-8px 0 16px 0;font-size:12px;">
                                        <span id="versionNumberPage_ruby"><i class="icon-check"></i>&nbsp;<%= t(:current) %></span>&nbsp;<span id="switchToCurrentPage" style="display:none;">(<a href="javascript:void(0);" class="switchToCurrentPage"><%= t(:switch_to_current) %></a>)</span>
                                      </div>
                                  <% end %>
								</div>
								<div style="float:right;">
                                    <button class="cCodeCleanupBtn btn"><%= t(:reformat_code) %></button>
  									<button id="scriptSaveBtn" class="btn btn-primary"><%= t(:save) %></button>
  								</div>
							</div>
							
  							<div style="text-align:left;">
  								<textarea id="tplScriptRubyCode" rows="20" style="width:97%;text-align:left;font-family:'Courier New',sans-serif;">
  								</textarea>
  							</div>
						</div>
  					</div>
  				</div>
  				
  				<div id="template" class="elementItem hidden">
  					<div>
  						<div class="row-fluid">
  							<div class="span1" style="padding:5px;">CSS</div>
					  		<div id="styleLabels" class="span11" style="padding:5px;">
						  		<% @css.each do |c| %>
						  			<span class="label" data-id="<%= c.id.to_s %>"><%= c.key.strip.html_safe %></span>
						  		<% end %>
					  		</div>
  						</div>
  						<div class="row-fluid">
  							<div class="span1" style="padding:5px;">JS</div>
					  		<div id="scriptLabels" class="span11" style="padding:5px;">
					  			<% @js.each do |j| %>
						  			<span class="label" data-id="<%= j.id.to_s %>"><%= j.key.strip.html_safe %></span>
						  		<% end %>
					  		</div>
  						</div>
  						<div class="row-fluid">
  							<div class="span1" style="padding:5px;">Meta</div>
					  		<div id="metaLabels" class="span11" style="padding:5px;">
					  			<% @metas.each do |m| %>
						  			<span class="label" data-id="<%= m.id.to_s %>"><%= m.key.strip.html_safe %></span>
						  		<% end %>
					  		</div>
  						</div>
						<div class="row-fluid">
							<div style="overflow:hidden;">
								<div style="float:left;">
									<h4><%= t(:code) %></h4>
                                  <% if (@isVersioning) %>
                                        <div style="margin:-8px 0 16px 0;font-size:12px;">
                                          <span id="versionNumberPage_template"><i class="icon-check"></i>&nbsp;<%= t(:current) %></span>&nbsp;<span id="switchToCurrentPage" style="display:none;">(<a href="javascript:void(0);"><%= t(:switch_to_current) %></a>)</span>
                                        </div>
                                    <% end %>
								</div>
								<div style="float:right;">
                                    <button class="cCodeCleanupBtn btn"><%= t(:reformat_code) %></button>
  									<button id="templateSaveBtn" class="btn btn-primary"><%= t(:save) %></button>
  								</div>
							</div>
  							<div style="text-align:left;">
  								<textarea id="tplHtmlCode" rows="20" style="width:97%;text-align:left;font-family:'Courier New',sans-serif;">
  								</textarea>
  							</div>
						</div>
  					</div>
  				</div>

  			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "manager/elements" %>