<div class="container" style="margin-bottom: 25px;">
  <div class="">
    <!--<br /><br />
    <h2><%= t(:rx_cms_dashboard) %></h2>-->
    <br/>

    <div class="row-fluid">
      <div class="span4">

        <div>
          <!-- Tab 1 -->
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a href="javascript:void(0);"><i class="icon-time icon-white"></i>&nbsp;<%= t(:site_activites) %>
                <i style="float:right;margin:3px;" class="toggler icon-chevron-up icon-white"></i></a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div>
                <div class="no-data" style=""><i class="icon-exclamation-sign"></i>&nbsp;<%= t(:no_data) %></div>
              </div>
            </div>
          </div>
        </div>
        <br/>

        <div>
          <!-- Tab 2 -->
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#news"><i class="icon-user icon-white"></i>&nbsp;<%= t(:system_users) %>
              <i style="float:right;margin:3px;" class="toggler icon-chevron-up icon-white"></i></a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <% if (@allUsersOfSite.length == 0) %>
                  <div>
                    <div class="no-data" style=""><i class="icon-exclamation-sign"></i>&nbsp;<%= t(:no_data) %></div>
                  </div>
              <% else %>
                  <div>
                    <ul style="list-style-type:none;margin:0;">
                      <% @allUsersOfSite.each do |u| %>
                          <li style="margin-bottom:4px;padding:0;">
                            <i class="icon-chevron-right"></i>&nbsp;<%= u.login %>
                            <div style="float:right;"><%= "#{time_ago_in_words(u.created_at)} #{t(:timeago_ago)}" %></div>
                          </li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <br/>

        <!-- Tab 3 -->
        <div>
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#news"><i class="icon-random icon-white"></i>&nbsp;<%= t(:user_activities) %>
              <i style="float:right;margin:3px;" class="toggler icon-chevron-up icon-white"></i></a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div>
                <p class="no-data"><i class="icon-exclamation-sign"></i>&nbsp;<%= t(:no_data) %></p>
              </div>
            </div>
          </div>
        </div>
        <br/>

        <!-- Tab 5 -->
        <div>
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#news"><i class="icon-bell icon-white"></i>&nbsp;<%= t(:support) %>
              <i style="float:right;margin:3px;" class="toggler icon-chevron-up icon-white"></i></a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div>
                <p style="font-weight:bold"><%= t(:you_can_find_help_on) %></p><br/>
                <ul>
                  <li><a href="https://groups.google.com/forum/#!forum/rxcms"><%= t(:google_group) %></a></li>
                  <li>
                    <a href="https://bitbucket.org/kikoflame/rxcms/issues?status=new&status=open"><%= t(:bitbucket_page) %></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="span8">

        <!-- Tab 4 -->
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#news"><i class="icon-book icon-white"></i>&nbsp;<%= t(:getting_started) %>
            <i style="float:right;margin:3px;" class="toggler icon-chevron-up icon-white"></i></a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div>
              <%= @gettingStarted.strip.html_safe %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<style type="text/css">
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        min-height: 128px;
    }

    .nav-tabs {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .nav-tabs li {
        width: 100%;
    }

    .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
        background-color: #45aeea;
        background-image: -moz-linear-gradient(top, #54b4eb, #2fa4e7);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54b4eb), to(#2fa4e7));
        background-image: -webkit-linear-gradient(top, #54b4eb, #2fa4e7);
        background-image: -o-linear-gradient(top, #54b4eb, #2fa4e7);
        background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7);
        background-repeat: repeat-x;
        border: 0px solid #1990d5;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff2fa4e7', GradientType=0);
        *zoom: 1;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        font-weight: bold;
        color: white;
        margin: 0;
    }

    .tab-pane {
        padding: 6px 0 6px 0;
    }

    .tab-pane div {
        padding-left: 2px;
    }

    .no-data {
        text-align: center;
        padding-top: 13%;
        padding-bottom: 13%;
    }

    .toggler:hover {
        cursor: pointer;
    }

    p {
        margin: 0;
    }
</style>
<script type="text/javascript">
    $(function () {
        $(".toggler").on("click", function (e) {
            e.stopPropagation();

            if ($(this).hasClass("icon-chevron-up")) {
                $(this).removeClass("icon-chevron-up");
                $(this).addClass("icon-chevron-down");
            } else if ($(this).hasClass("icon-chevron-down")) {
                $(this).removeClass("icon-chevron-down");
                $(this).addClass("icon-chevron-up");
            }

            $($($(this).parents("div:first")).find("div:first")).toggle();
        })
    });
</script>