<style type="text/css">
    body {
        background: url(/assets/deep-bg.jpg) center center no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<!-- Reset Password Modal -->
<div id="resetPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:password_reset) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:please_provide_email_password_reset) %>:</p>
    <input style="width:96%;" type="text" id="resetEmail"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button class="btn btn-primary" id="beginResetPasswordBtn"><%= t(:proceed) %></button>
  </div>
</div>

<!-- Detailed Reset Password Modal -->
<div id="resetPasswordDetailedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:password_reset) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:request_permit_code) %>:</p>
    <input style="width:96%;" type="text" id="requestCode"/>

    <p><%= t(:password) %>:</p>
    <input style="width:96%;" type="password" id="resetPassword"/>

    <p><%= t(:password_again_required) %>:</p>
    <input style="width:96%;" type="password" id="resetPasswordConfirmation"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button class="btn btn-primary" id="doResetPasswordBtn"><%= t(:proceed) %></button>
  </div>
</div>

<!-- Register another administrator account -->
<div id="userRegistration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:account_registration) %></h3>
  </div>
  <div class="modal-body">

    <p><%= t(:login) %>:</p>
    <input type="text" style="width:96%;" id="adminModalAccountName"/>

    <p><%= t(:email) %>:</p>
    <input type="text" style="width:96%;" id="adminModalAccountEmail"/>

    <p><%= t(:capitalized_password) %>:</p>
    <input type="password" style="width:96%;" id="adminModalAccountPass"/>

    <p><%= t(:capitalized_password_again_required) %>:</p>
    <input type="password" style="width:96%;" id="adminModalAccountPassConfirm"/>

    <br/>

    <!--<p><strong><%= t(:captcha_title) %></strong></p>
    <span id="captchaText"></span>&nbsp;&nbsp;<input type="text" style="width:15px;" id="adminModalAccountCaptcha"/>-->
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="btnUserRegCancelBtn"><%= t(:cancel) %></button>
    <button class="btn btn-primary" id="btnUserRegCreateBtn"><%= t(:create) %></button>
  </div>
</div>

<div class="center text-center" style="padding:128px 0 128px 0;">
  <% if (User.count == 0) %>
      <h3 style="margin: 32px 0 32px 0;color: white;text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);"><%= t(:welcome_to_rxcms) %></h3>
      <h5 style="color:white;text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);"><%= t(:create_an_administrator_account) %></h5>
  <% else %>
      <h3 style="margin: 32px 0 32px 0;color: white;text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);"><%= t(:welcome_to_rxcms) %></h3>
  <% end %>

  <form id="loginForm" name="loginForm" action="/auth/local" method="post">
    <% if (!flash[:success].nil?) %>

        <p style="color:white;"><%= flash[:success].html_safe %></p>

    <% end %>
    <% if (!flash[:msg].nil?) %>

        <p style="color:white;"><%= flash[:msg].html_safe %></p>

    <% end %>
    <% if (!flash[:err].nil?) %>

        <p style="color:white;"><%= flash[:err].html_safe %></p>

    <% end %>
    <% if (!flash[:warn].nil?) %>

        <p style="color:white;"><%= flash[:warn].html_safe %></p>

    <% end %>
    <% if (User.count == 0) %>
        <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span>
          <input type="text" id="loginFormAccountName" name="login" placeholder="<%= t(:reg_login_name) %>" value="<%= !flash[:login].nil? ? flash[:login] : '' %>">
        </div>
        <br/>
    <% else %>
        <div class="input-prepend"><span class="add-on"><i class="icon-user"></i></span>
          <input type="text" id="loginFormAccountName" name="email" placeholder="<%= t(:uncapitalized_email) %>" value="<%= !flash[:email].nil? ? flash[:email] : '' %>">
        </div>
        <br/>
    <% end %>

    <div class="input-prepend"><span class="add-on"><i class="icon-cog"></i></span>
      <input type="password" id="loginFormAccountPass" name="password" placeholder="<%= t(:password) %>">
    </div>
    <br/>

    <% if (User.count == 0) %>
        <div class="input-prepend"><span class="add-on"><i class="icon-cog"></i></span>
          <input type="password" id="loginFormAccountPassConfirm" name="password_confirmation" placeholder="<%= t(:password_again_required) %>">
        </div>
        <br/>

        <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
          <input type="text" id="loginFormAccountEmail" name="email" placeholder="<%= t(:your_email_required) %>">
        </div>
        <br/>
    <% end %>
    <!--<div style="width:247px;margin:auto;text-align:left;margin-bottom: 16px;">
      <input style="float:left;" id="loginFormRememberMe" type="checkbox" /><label style="padding-left:16px;" for="loginFormRememberMe">Remember</label>
    </div>-->

    <% if (User.count == 0) %>
        <h5 style="color:white;text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);"><%= t(:create_your_first_application) %></h5>

        <div class="input-prepend"><span class="add-on"><i class="icon-book"></i></span>
          <input type="text" id="loginFormNewAppName" name="newApp" placeholder="<%= t(:application_name_required) %>" value="" maxlength="32">
        </div>
        <br/>

        <div class="input-prepend"><span class="add-on"><i class="icon-info-sign"></i></span>
          <input type="text" id="loginFormNewAppName" name="newAppDesc" placeholder="<%= t(:application_description) %>" value="">
        </div>
        <br/>
    <% end %>

    <input id="loginFormSubmit" type="submit" value="<%= User.count == 0 ? t(:create) : t(:log_in) %>" class="btn btn-primary"/>&nbsp;
    <% if (User.count > 0) %>
        <a href="#userRegistration" class="btn btn" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="icon-plus"></i></a>

        <a href="#resetPasswordModal" role="button" id="loginFormForgetSth" class="btn btn" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="icon-question-sign"></i></a>
    <% end %>
  </form>
</div>

<%= javascript_include_tag "manager/login" %>