<!-- Register a site -->
<div id="siteRegistration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
    <h3 id="myModalLabel"><%= t(:site_registration) %></h3>
  </div>
  <div class="modal-body">

    <p><%= t(:site_name) %>:</p>
    <input type="text" id="siteModalName" placeholder="" style="width:97%;" maxlength="32"/>

    <p><%= t(:site_description) %>:</p>
    <input type="text" id="siteModalDescription" placeholder="" style="width:97%;"/>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="siteModalCancelBtn"><%= t(:cancel) %></button>
    <button class="btn btn-primary" id="siteModalCreateBtn"><%= t(:create) %></button>
  </div>
</div>

<div class="center text-center" style="padding:128px 0 128px 0;">
  <form id="appSelectForm" name="appSelectForm" action="/auth/local/app" method="post">
    <h3 style="margin: 32px 0 32px 0;"><%= t(:please_select_site_manage) %></h3>
    <% if (!flash[:err].nil?) %>
        <div class="alert alert-error" style="width:256px;margin:0 auto 16px auto;text-align:left;">
          <%= flash[:err].strip.html_safe %>
        </div>
    <% end %>
    <select id="appSelect" name="appSelect">
      <option value="" selected="selected"><%= t(:select_a_site) %></option>
      <% @userSites.each do |u| %>
          <option value="<%= u['id'].html_safe %>"><%= u['name'].html_safe %></option>
      <% end %>
    </select>
    <br />
    <p>&darr;</p>
    <select id="roleSelect" name="roleSelect">
      <option value="" selected="selected"><%= t(:select_a_role) %></option>
    </select>
    <br />
    <p>&darr;</p>
    <input class="btn btn-primary" type="submit" name="appSelectFormSubmit" value="<%= t(:proceed) %>"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/auth/local/delete"><%= t(:logout) %></a>
    <br />
    or
    <br />
    <a href="#siteRegistration" class="btn" data-backdrop="static" data-keyboard="false" data-toggle="modal"><%= t(:register_a_site) %></a>
  </form>
</div>

<%= javascript_include_tag "manager/select_application" %>