<%
   # Initializers
   @isVersioning = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['versioning'] == "yes") : false
   @isCompliance = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['compliance'] == "yes") : false
%>

<div class="container" style="margin-bottom: 25px;">
  <div class="">
    <div class="row-fluid">
      <div class="span3">
        <p/>
        <ul id="settingsList" class="nav nav-list affix-top">
          <li data-id="<%= session[:accessible_appid] %>" data-key="preferences"><a href="javascript:void(0);"><i class="icon-chevron-right"></i> <span>Preferences</span></a></li>
        </ul>
      </div>

      <div id="panelContainer" class="span9">
        <div class="panel" id="preferences" style="display:none;">
          <fieldset>
            <div id="legend">
              <legend class=""><%= t(:preferences) %></legend>
            </div>

            <!-- Name -->
            <div class="control-group">
              <label class="control-label" for="sitename"><%= t(:site_name) %></label>

              <div class="controls">
                <input type="text" id="sitename" name="sitename" placeholder="site name" class="input-xlarge" maxlength="32">
              </div>
            </div>

            <!-- Description -->
            <div class="control-group">
              <label class="control-label" for="sitedesc"><%= t(:site_description) %></label>

              <div class="controls">
                <input type="text" id="sitedesc" name="sitedesc" placeholder="site description" class="input-xlarge">
              </div>
            </div>

            <!-- Description -->
            <div class="control-group">
              <label class="control-label"><%= t(:site_creation_date) %></label>

              <div class="controls">
                <span id="sitecreationdate"></span>
              </div>
            </div>

            <!-- Submit -->
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-primary" id="prefsSaveBtn">save changes</button>
              </div>
            </div>

          </fieldset>
        </div>

        <!--<div class="panel" id="other" style="display:none;">
            <h3>testing</h3>
        </div>-->
      </div>

    </div>
  </div>
</div>

<%= javascript_include_tag "manager/sites" %>