<%
   # Initializers
   @isVersioning = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['versioning'] == "yes") : false
   @isCompliance = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['compliance'] == "yes") : false
%>
<div class="container" style="margin-bottom: 25px;">
  <div class="">
    <div class="row-fluid">
      <div style="min-height:512px;">
        <ul class="nav nav-tabs" id="systemTabs">
          <li><a href="#systemConfig" data-toggle="tab"><%= t(:system_configs) %></a></li>
          <li><a href="#langManage" data-toggle="tab"><%= t(:language_management) %></a></li>
        </ul>

        <div class="tab-content">

          <!-- System Tab -->
          <div class="tab-pane" id="systemConfig">

            <div>
              <ul class="inline">
                <li>
                  <%= t(:filter_by) %>&nbsp;
                  <input id="txtFilter" type="text" style="width:150px;margin-top:12px;"/>&nbsp;
                  <span id="systemConfigTabLoadingText" style="padding:5px;display:none;"><%= t(:populating_config_item_please_wait) %></span>
                </li>
              </ul>
            </div>

            <div>
              <table id="configTable" style="max-width:none;" class="table">
                <thead>
                <tr>
                  <th width="5%">#</th>
                  <th width="30%"><%= t(:key) %></th>
                  <th width="65%"><%= t(:value) %></th>
                </tr>
                </thead>
                <tbody>
                <!-- DUMMY -->
                <tr id="configTableDummy" class="systemCell" style="display:none;">
                  <td data-id=""></td>
                  <td>
                    <div style="max-height:175px;overflow-y:auto;cursor:pointer;">
                      <span></span>
                    </div>
                  </td>
                  <td class="systemCellEditable">
                    <div style="max-height:175px;overflow-y:auto;cursor:pointer;">
                      <input type="text" class="input" data-attr="editor" maxlength="64" style="width:90%;background:white;padding:0;margin:0;border:0 !important;box-shadow:none !important;outline:0;font-family:'Courier New',sans-serif;"/>
                    </div>
                  </td>
                </tr>
                <!-- DUMMY -->
                </tbody>
              </table>

            </div>
          </div>
          <!-- End -->

          <!-- Language Tab -->
          <div class="tab-pane" id="langManage">
            <div class="row-fluid">
              <div class="span4">
                <h4><%= t(:supported_languages) %></h4>
                <ul id="supportedLanguages" class="nav nav-pills nav-stacked">
                  <li data-code="en"><a href="#"><%= t(:locale_english) %></a></li>
                  <li data-code="fr"><a href="#"><%= t(:locale_french) %></a></li>
                  <li data-code="de"><a href="#"><%= t(:locale_german) %></a></li>
                  <li data-code="zh"><a href="#"><%= t(:locale_chinese) %></a></li>
                  <li data-code="vi"><a href="#"><%= t(:locale_vietnamese) %></a></li>
                </ul>
              </div>
              <div class="span4">
                <h4><%= t(:locale_codes) %></h4>
                <ul id="supportedCodes" class="nav nav-pills nav-stacked">
                  <li style="display:none;"><a href="#" data-code="en">en_UK</a></li>
                  <li style="display:none;"><a href="#" data-code="en">en_US</a></li>
                  <li style="display:none;"><a href="#" data-code="fr">fr_FR</a></li>
                  <li style="display:none;"><a href="#" data-code="de">de_DE</a></li>
                  <li style="display:none;"><a href="#" data-code="zh">zh_CN</a></li>
                  <li style="display:none;"><a href="#" data-code="vi">vi_VN</a></li>
                </ul>
              </div>
              <div class="span4">
                <h4><%= t(:operations) %></h4>
                <p><button id="btnAdd" class="btnOps btn" style="display:none;"><%= t(:add) %></button></p>
                <p><button id="btnDelete" class="btnOps btn btn-danger" style="display:none;"><%= t(:delete) %></button></p>
              </div>
            </div>
          </div>
          <!-- End -->
        </div>

      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "manager/system" %>