<%
   # Initializers
   @isVersioning = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['versioning'] == "yes") : false
   @isCompliance = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['compliance'] == "yes") : false
%>
<!-- User Deletion Modal -->
<div id="userDeletion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:delete_user)%></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:are_you_sure_want_delete_this_user)%></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="userDeleteClose"><%= t(:close) %></button>
    <button class="btn btn-primary" id="userDeleteBtn"><%= t(:proceed) %></button>
  </div>
</div>

<!-- User Role Modification Modal -->
<div id="userRoleModification" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:change_user_role) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:are_you_sure_want_change_role_this_user) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="userRoleModifyClose"><%= t(:close) %></button>
    <button class="btn btn-primary" id="userRoleModifyBtn"><%= t(:proceed) %></button>
  </div>
</div>

<!-- User Role Modification Modal -->
<div id="userRoleAssignment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:assign_user_role) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:are_you_sure_want_assign_role_to_user) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="userRoleAssignClose"><%= t(:close) %></button>
    <button class="btn btn-primary" id="userRoleAssignBtn"><%= t(:proceed) %></button>
  </div>
</div>

<!-- User Ban/Unban Modal -->
<div id="userBanUnban" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:user_access) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:are_you_sure_ban_user) %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button class="btn btn-primary"><%= t(:proceed) %></button>
  </div>
</div>

<!-- User Modification Modal -->
<div id="userModification" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:modify_user) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:capitalized_email) %></p>
    <input type="text" style="width:96%;" id="newEmail"/>

    <p><%= t(:current_password_when_resetting) %></p>
    <input type="password" style="width:96%;" id="oldPassword"/>

    <p><%= t(:new_password) %></p>
    <input type="password" style="width:96%;" id="newPassword"/>

    <p><%= t(:new_password_confirmation) %></p>
    <input type="password" style="width:96%;" id="newPasswordConfirmation"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="userModifyClose"><%= t(:close) %></button>
    <button class="btn btn-primary" id="userModifyBtn"><%= t(:save) %></button>
  </div>
</div>

<!-- User Creation Modal -->
<div id="userCreation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:create_user) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:capitalized_login) %>:</p>
    <input type="text" style="width:96%;" id="newLogin"/>

    <p><%= t(:capitalized_group) %>:</p>
    <select id="newGroup">
      <% @roles.each do |r| %>
          <option value="<%= r['id'].to_s %>"><%= r['name'].html_safe %></option>
      <% end %>
    </select>

    <p><%= t(:email) %></p>
    <input type="text" style="width:96%;" id="newEmail"/>

    <p><%= t(:new_password) %></p>
    <input type="password" style="width:96%;" id="newPassword"/>

    <p><%= t(:new_password_confirmation) %></p>
    <input type="password" style="width:96%;" id="newPasswordConfirmation"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="userCreateClose"><%= t(:close) %></button>
    <button class="btn btn-primary" id="userCreateBtn"><%= t(:save) %></button>
  </div>
</div>

<div class="container" style="margin-bottom: 25px;">
  <div class="">
    <div class="row-fluid">

    </div>
    <div class="row-fluid">

      <div class="span3">
        <div>
          <ul class="nav nav-list">
            <li class="nav-header"><%= t(:user_search) %></li>
            <li><input id="userSearchText" class="span12" placeholder="<%= t(:reg_email) %>" type="text" style="border:0 !important;border-bottom: 1px dashed lightgray !important;outline:none !important;background:transparent;box-shadow:none;-moz-box-shadow:none;" /></li>
            <li class="nav-header"><%= t(:user_operations) %></li>
            <li><a href="#userCreation" data-backdrop="static" data-keyboard="false" data-toggle="modal"><%= t(:create) %></a></li>
            <li class="nav-header"><%= t(:user_groups) %></li>
            <% @roles.each do |r| %>
                <li class="groupList"><a href="#" data-group-id="<%= r['id'].to_s %>"><%= r['name'].html_safe  %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="span9" style="padding:5px 0 5px 0;text-align:center;">

        <div id="noUserIndicator" style="padding:30% 0 30% 0;color:gray;display:none;"><i class="icon-exclamation-sign"></i>&nbsp;No users were found</div>

        <div class="span12">
            <ul class="thumbnails" id="uList">

              <li id="userDummy" style="display:none;">
                <div class="thumbnail">
                  <div class="caption">
                    <h3 id="userDummyName">[username]</h3>

                    <div style="text-align:left;">
                      <p><span><strong><%= t(:email) %>:</strong></span>&nbsp;<span id="userDummyEmail">[useremail]</span></p>
                      <br/>

                      <div class="btn-group">
                        <!--<button class="btn btn-danger" id="userDummyBan"><a data-ban="0" data-toggle="modal"><i class="icon-eye-close icon-white"></i></a></button>-->
                        <a class="btn aUserModification userOperationsGroup" href="#userModification" data-backdrop="static" data-keyboard="false" data-toggle="modal"><i class="icon-edit"></i></a>
                        <a class="btn aUserRemoval userOperationsGroup" href="#userDeletion" data-backdrop="static" data-keyboard="false" data-toggle="modal"><i class="icon-remove"></i></a>
                        <a class="btn aUserInvite userInvitationGroup" style="display:none;" href="javascript:void(0);"><i class="icon-envelope"></i>&nbsp;<%= t(:user_search) %></a>
                        <select id="aUserRole" class="userInvitationGroup" style="width:176px;margin:0 0 0 10px;display:none;">
                          <% @roles.each do |r| %>
                              <option value="<%= r['id'].to_s %>"><%= r['name'].html_safe %></option>
                          <% end %>
                        </select>
                      </div>

                      <div class="btn-group userOperationsGroup">
                        <button class="btn"><i class="icon-road"></i></button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="userDummyRoleList">
                          <% @roles.each do |r| %>
                              <li class="groupModifyList"><a href="#userRoleModification" class="aUserRoleModification" data-backdrop="static" data-keyboard="false" data-group-id="<%= r['id'].to_s %>" data-toggle="modal"><i class="icon-chevron-right"></i>&nbsp;<%= r['name'].html_safe %></a></li>
                          <% end %>
                        </ul>
                      </div>

                      <div class="btn-group userOperationsGroup">
                        <button class="btn"><i class="icon-share-alt"></i></button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="userDummyRoleAssignList">
                          <% @roles.each do |r| %>
                              <li class="groupAssignList"><a href="#userRoleAssignment" class="aUserRoleAssignment" data-backdrop="static" data-keyboard="false" data-group-id="<%= r['id'].to_s %>" data-toggle="modal"><i class="icon-chevron-right"></i>&nbsp;<%= r['name'].html_safe %></a></li>
                          <% end %>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </li>

            </ul>
        </div>

      </div>

    </div>
  </div>
</div>

<%= javascript_include_tag "manager/users" %>
<style type="text/css">
  .modal-header button
  {
    display: none;
  }
</style>