<%
   # Initializers
   @isVersioning = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['versioning'] == "yes") : false
   @isCompliance = @enginesFlags.has_key?('RxcmsCompliancePlugin') ? (@enginesFlags['RxcmsCompliancePlugin']['status']['compliance'] == "yes") : false
%>

<div id="deleteAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel"><%= t(:capitalized_delete_user) %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(:delete_user_msg) %></p><br />
    <p><%= t(:if_continue) %>&nbsp;<input type="text" id="deleteAccountConfirmation" /></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t(:cancel) %></button>
    <button class="btn btn-primary" id="delete_account" data-id="<%= session[:accessible_userid].to_s %>"><%= t(:proceed) %></button>
  </div>
</div>

<div class="container" style="margin-bottom: 25px;">
    <div class="">
      <div class="row-fluid">
        <div class="span12">
          <div style="margin: 45px 0 0 0;">
            <div class="row-fluid" style="margin-bottom:32px;overflow:hidden;">
              <div class="span12">
                <div id="avatar" style="background:white;width:160px;height:160px;display:table;float:left;text-align:center;">
                  <div style="display:table-cell;vertical-align:middle;font:76px Arial,sans;color:white;">
                    ?
                  </div>
                </div>
                <div style="float:left;margin-left:16px;">
                  <!--<div><a href="javascript:void(0);">avatar...</a></div>
                  <div><a href="javascript:void(0);">homepage...</a></div>-->
                </div>
              </div>
            </div>


            <div class="row-fluid">
              <div class="span12">
                <fieldset>
                  <legend style="font-size:16px;"><%= t(:general_information) %></legend>

                  <div class="row-fluid">
                    <div class="span3">
                      <label><strong><%= t(:login) %></strong></label>
                      <span><a id="aUsername" href="javascript:void(0);"><%= @username.html_safe %></a></span>
                    </div>
                    <div class="span9">
                      <label><strong><%= t(:email) %></strong></label>
                      <span><a id="aEmail" href="javascript:void(0);"><%= @email.html_safe %></a><input id="emailTxt" type="text" style="display:none;width:128px;border:none;outline:none !important;background:transparent;box-shadow:none !important;font-family: 'Courier New', sans-serif;padding:0;margin:0;" /></span>&nbsp;<a id="emailEdit" data-edit-state="false" href="javascript:void(0);"><i class="icon-pencil"></i></a>
                    </div>
                  </div>

                  <p></p>
                  <!--<button class="btn">Submit</button>-->
                </fieldset>
              </div>
            </div>

            <!--<div class="row">
              <div class="span12">
                <fieldset>
                  <legend style="font-size:16px;">Personal information</legend>

                  <div class="row-fluid">
                    <div class="span12">
                      <div class="row-fluid">
                        <div class="span3"><strong>First Name</strong></div>
                        <div class="span9">non-applicable</div>
                      </div>
                      <div class="row-fluid">
                        <div class="span3"><strong>Last Name</strong></div>
                        <div class="span9">non-applicable</div>
                      </div>
                      <div class="row-fluid">
                        <div class="span3"><strong>Age</strong></div>
                        <div class="span9">non-applicable</div>
                      </div>
                      <div class="row-fluid">
                        <div class="span3"><strong>Gender</strong></div>
                        <div class="span9">non-applicable</div>
                      </div>
                      <div class="row-fluid">
                        <div class="span3"><strong>Date of Birth</strong></div>
                        <div class="span9">non-applicable</div>
                      </div>
                      <div class="row-fluid">
                        <div class="span3"><strong>Hometown</strong></div>
                        <div class="span9">non-applicable</div>
                      </div>
                    </div>
                  </div>

                  <p></p>
                  <!--<button class="btn">Submit</button>
                </fieldset>
              </div>-->
            <br />
            <div class="row-fluid">
              <div class="span12">
                <fieldset>
                  <legend style="font-size:16px;"><%= t(:operations) %></legend>

                  <div class="row-fluid">
                    <div class="span12">
                      <a class="btn btn-danger" href="#deleteAccountModal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><%= t(:capitalized_delete_account) %></a>
                    </div>
                  </div>

                  <p></p>
                  <!--<button class="btn">Submit</button>-->
                </fieldset>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<%= javascript_include_tag 'manager/profile' %>
