<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t(:msg_mailer_did_you_create_account) %> <%= @user.login.strip %>?</h1>
<p>
  <%= t(:msg_mailer_just_click_to_activate) %>
</p>
<p>
  <strong><a href="<%= "http://#{@url.html_safe}" %>"><%= t(:here) %></a></strong>
</p>
<p><%= t(:msg_mailer_thanks_for_joining_us) %></p>
<p>--------------------------------------------------------------------</p>
<p><%= t(:msg_mailer_email_auto_generated) %></p>
</body>
</html>