<%= t(:msg_mailer_did_you_create_account) %> <%= @user.login.strip %>
-------------------------------------------------------------------
<%= t(:msg_mailer_just_click_to_activate) %>

<%= "http://#{@url.html_safe}" %>

<%= t(:msg_mailer_thanks_for_joining_us) %>
--------------------------------------------------------------------
<%= t(:msg_mailer_email_auto_generated) %>