<%= t(:msg_mailer_a_user_with) %> "<%= @user.login.strip %>" <%= t(:msg_mailer_would_like_to_invite) %> "<%= @workspace.strip %>"
-------------------------------------------------------------------
<%= t(:msg_mailer_just_click_to_accept) %>

<%= "http://#{@url.html_safe}" %>

<%= t(:msg_mailer_thanks_for_joining_us) %>
--------------------------------------------------------------------
<%= t(:msg_mailer_email_auto_generated) %>