<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t(:msg_mailer_request_reset_password) %> <%= @user.login.strip %>?</h1>
<p>
  <%= t(:msg_mailer_reset_complete_step_2) %><br />
  <%= t(:msg_mailer_reset_expiry) %>
</p>
<p>
  <strong><%= @token %></strong>
</p>
<p>--------------------------------------------------------------------</p>
<p><%= t(:msg_mailer_email_auto_generated) %></p>
<p><%= t(:msg_mailer_reset_warning) %></p>
</body>
</html>