<%= t(:msg_mailer_request_reset_password) %> <%= @user.login.strip %>
-------------------------------------------------------------------
<%= t(:msg_mailer_reset_complete_step_2) %>
<%= t(:msg_mailer_reset_expiry) %>

<%= @token %>

--------------------------------------------------------------------
<%= t(:msg_mailer_email_auto_generated) %>
<%= t(:msg_mailer_reset_warning) %>