<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag    "fonts/bauman.css", :media => "all" %>
        <%= stylesheet_link_tag    "manager/bootstrap.min", :media => "all" %>
		<%= stylesheet_link_tag    "manager/bootstrap-fileupload.min", :media => "all" %>
		<%= stylesheet_link_tag    "manager/bootstrap-responsive.min", :media => "all" %>
		<%= stylesheet_link_tag    "manager/messenger", :media => "all" %>
		<%= stylesheet_link_tag	   "manager/messenger-spinner", :media => "all" %>
		<%= stylesheet_link_tag    "manager/messenger-theme-air", :media => "all" %>
		<%= stylesheet_link_tag    "manager/manager", :media => "all" %>
		<%= stylesheet_link_tag    "manager/codemirror", :media => "all" %>
        <%= stylesheet_link_tag    "manager/show-hint", :media => "all" %>
        <%= stylesheet_link_tag    "manager/merge", :media => "all" %>
		<%= stylesheet_link_tag    "manager/elegant", :media => "all" %>
        <%= stylesheet_link_tag    "manager/wysiwyg", :media => "all" %>
        <%= stylesheet_link_tag    "manager/dialog", :media => "all" %>
		<% if @mPage == "file_manager" %>
		<%= stylesheet_link_tag "manager/file-tree", :media => "all" %>		
		<% end %>

        <%= javascript_include_tag "manager/sha-256" %>
        <%= javascript_include_tag "manager/wysiwyg-editor" %>
		<%= javascript_include_tag "manager/jquery-1.9.1.min" %>
		<%= javascript_include_tag "manager/jqueryui.min" %>
        <%= javascript_include_tag "manager/bootstrap.min" %>
		<%= javascript_include_tag "manager/modernizr.min" %>
		<%= javascript_include_tag "manager/messenger.min" %>
		<%= javascript_include_tag "manager/messenger-theme-future" %>
        <%= javascript_include_tag "manager/wysiwyg-toolbar" %>
        <%= javascript_include_tag "manager/jquery.timer" %>
		<%= javascript_include_tag "manager/codemirror" %>
        <%= javascript_include_tag "manager/show-hint" %>
        <%= javascript_include_tag "manager/javascript-hint" %>
        <%= javascript_include_tag "manager/xml-hint" %>
        <%= javascript_include_tag "manager/html-hint" %>
		<%= javascript_include_tag "manager/codemirror_modes/xml" %>
		<%= javascript_include_tag "manager/codemirror_modes/javascript" %>
		<%= javascript_include_tag "manager/codemirror_modes/css" %>
		<%= javascript_include_tag "manager/codemirror_modes/htmlmixed" %>
		<%= javascript_include_tag "manager/codemirror_modes/ruby" %>
        <%= javascript_include_tag "manager/codemirror_addons/search" %>
        <%= javascript_include_tag "manager/codemirror_addons/searchcursor" %>
        <%= javascript_include_tag "manager/codemirror_addons/dialog" %>
        <%= javascript_include_tag "manager/codemirror_addons/merge/dep/diff_match_patch" %>
        <%= javascript_include_tag "manager/codemirror_addons/merge/merge" %>
        <%= javascript_include_tag "manager/codemirror_utils/formatting" %>
		<% if @mPage == "file_manager" %>
		<% end %>

        <script type="text/javascript">
          window.I18n = <%= @oTranslations.to_json.html_safe %>;
        </script>
        <%= javascript_include_tag "manager/timeago" %>

        <%= csrf_meta_tag %>
    </head>
    <body>
        
        <div id="overlay" style="position:fixed;top:0;right:0;background:url(/assets/backdrop-bg.png) repeat;bottom:0;left:0;z-index:9999;display:none;">
	        <div style="display:block;position:fixed;top:48%;left:41%;right:41%;bottom:48%;">
	        	<span style="color:white;"><%= t(:processing_please_wait) %></span>
	        </div>
        </div>

        <!-- NO-SCRIPT WARNING -->
        <noscript>
          <div id="noscript-overlay" style="position:fixed;top:0;right:0;background:black;bottom:0;left:0;z-index:9999;">
            <div style="display:block;position:fixed;top:48%;left:41%;right:41%;bottom:48%;text-align:center;color:white;">
                <div style="font-size:24px;margin:16px;">We say:</div>
                <blockquote style="color:white;">Javascript is required; please activate it!</blockquote>
            </div>
          </div>
        </noscript>
        <!-- END -->

        <!-- Site Delete Modal -->
        <div id="removeSiteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
            <h3 id="myModalLabel"><%= t(:msg_site_delete_header) %></h3>
          </div>
          <div class="modal-body">
            <p>
              <%= t(:msg_site_delete_warning) %><br /><br />
              <%= t(:msg_site_delete_confirm) %>&nbsp;&nbsp;&nbsp;<input type="text" id="permaRemoveSite" style="margin-top:8px;" /></p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" id="siteRemoveCancelBtn"><%= t(:cancel) %></button>
            <button class="btn btn-primary" id="siteRemoveBtn" data-id="<%= session[:accessible_appid].to_s %>"><%= t(:proceed) %></button>
          </div>
        </div>
        <!-- -->

        <!-- Site Takedown Modal -->
        <div id="takedownSiteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
            <h3 id="myModalLabel"><%= @site_status ? t(:msg_site_takedown_header) : t(:msg_site_untakedown_header) %></h3>
          </div>
          <div class="modal-body">
            <% if @site_status %>
                <p>
                  <%= t(:msg_site_takedown_warning) %><br /><br />
                  <%= t(:msg_site_takedown_confirm) %>&nbsp;&nbsp;&nbsp;<input type="text" id="tempTakedownSite" style="margin-top:8px;" />
                </p>
            <% else %>
                <p>
                  <%= t(:msg_site_untakedown_warning) %><br /><br />
                  <%= t(:msg_site_untakedown_confirm) %>&nbsp;&nbsp;&nbsp;<input type="text" id="tempReviveSite" style="margin-top:8px;" />
                </p>
            <% end %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true" id="siteTakedownCancelBtn"><%= t(:cancel) %></button>
            <button class="btn btn-primary" id="siteTakedownBtn" data-action="<%= @site_status ? "takedown" : "revive" %>" data-id="<%= session[:accessible_appid].to_s %>"><%= t(:proceed) %></button>
          </div>
        </div>
        <!-- -->
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" id="brandSitename" style="font-family: 'Baumans', cursive;" href="/<%= session[:accessible_app].to_s[0..7].html_safe %>" target="_blank"><%= session[:accessible_appname].nil? ? 'Alliance Managr' : session[:accessible_appname].to_s.length > 16 ? "#{session[:accessible_appname].to_s[0..16].html_safe}..." : session[:accessible_appname].to_s.strip.html_safe %></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav" style="font-family: 'Inder', sans-serif;">
                            <li class="<%= @mPage == 'index' ? 'active' : '' %>"><a href="<%= @mPage == 'index' ? '#' : '/manager/cms/home' %>"><i class="icon-th-large icon-white"></i></a></li>
                            <li class="<%= @mPage == 'home' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('home') ? '' : 'hidden'%>"><a href="<%= @mPage == 'home' ? '#' : "/manager/cms/pages" %>"><i class="icon-book icon-white"></i>&nbsp;<%= t(:home) %></a></li>
                            <li class="<%= @mPage == 'elements' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('elements') ? '' : 'hidden'%>"><a href="<%= @mPage == 'elements' ? '#' : "/manager/cms/elements" %>"><i class="icon-tasks icon-white"></i>&nbsp;<%= t(:elements) %></a></li>
                            <li class="<%= @mPage == 'contentlib' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('contentlib') ? '' : 'hidden'%>"><a href="<%= @mPage == 'contentlib' ? '#' : "/manager/cms/contentlib" %>"><i class="icon-pencil icon-white"></i>&nbsp;<%= t(:contentlib) %></a></li>
                            <li class="<%= @mPage == 'file_manager' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('file_manager') ? '' : 'hidden'%>"><a href="<%= @mPage == 'file_manager' ? '#' : "/manager/cms/files" %>"><i class="icon-file icon-white"></i>&nbsp;<%= t(:file_manager) %></a></li>
                            <li class="dropdown <%= @mPage == 'system' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('system') ? '' : 'hidden'%>">
                                <a href="#" class="<%= @mPage != 'login' ? 'dropdown-toggle' : ''%>" <%= @mPage != 'login' ? 'data-toggle=dropdown' : ''%>><i class="icon-cog icon-white"></i>&nbsp;<%= t(:system)%> <%= @mPage != 'login' ? '<b class="caret"></b>'.html_safe : ''%></a>
                                <ul class="<%= @mPage != 'login' ? 'dropdown-menu' : ''%>" id="extensionsList">
                                    <% if (@mPage != 'login') %>
                                        <li class="<%= @mPage == 'system' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('system') ? '' : 'hidden'%>"><a href="<%= @mPage == 'system' ? '#' : "/manager/cms/system" %>"><%= t(:configs) %></a></li>
                                        <li class="<%= @mPage == 'users' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('users') ? '' : 'hidden'%>"><a href="<%= @mPage == 'users' ? '#' : "/manager/cms/users" %>"><%= t(:users) %></a></li>
                                        <li class="<%= @mPage == 'apps' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('apps') ? '' : 'hidden'%>"><a href="<%= @mPage == 'apps' ? '#' : "/manager/cms/sites" %>"><%= t(:apps) %></a></li>
                                        <% if (@isCompliance) %>
                                            <li class="<%= @mPage == 'archives' ? 'active' : '' %> <%= @ui_menuitem_visibility.include?('archives') ? '' : 'hidden'%>"><a href="<%= @mPage == 'archives' ? '#' : "/manager/cms/archives" %>"><%= t(:archives) %></a></li>
                                        <% end %>
                                        <% if @valid_owner %>
                                            <li class="divider"></li>
                                            <li><a href="#takedownSiteModal" role="dialog" data-backdrop="static" data-keyboard="false" data-toggle="modal"><%= @site_status ? t(:take_down_site) : t(:revive_site) %></a></li>
                                            <li><a href="#removeSiteModal" role="dialog" data-backdrop="static" data-keyboard="false" data-toggle="modal"><%= t(:msg_site_delete_header) %></a></li>
                                        <% end %>
                                        <!---->
                                    <% end %>
                                </ul>
                            </li>
                            <!--<li class="<%= @mPage == 'configure' ? 'active' : '' %>"><a href="<%= @mPage == 'configure' ? '#' : '/manager/cms/configure' %>">Debugging</a></li>-->
                            <% if @curUserRole == "admin" %>
                            <li class="dropdown <%= @mPage == 'extensions' ? 'active' : '' %>">
                                <a id="menuItemExtSelection" href="#" class="<%= @mPage != 'login' ? 'dropdown-toggle' : ''%>" <%= @mPage != 'login' ? 'data-toggle=dropdown' : ''%>><i class="icon-th-list icon-white"></i><%= @mPage != 'login' ? '<b class="caret"></b>'.html_safe : ''%></a>
                                <ul class="<%= @mPage != 'login' ? 'dropdown-menu' : ''%>" id="extensionsList">
                                    <%
                                       if (@mPage != 'login')
                                       if (@mountedExts.length > 0)
                                       @mountedExts.each do |mounted| %>
                                        <li class="<%= @mExt == mounted.name.strip ? 'active' : '' %>"><a data-link="<%= defined?(mounted.metadata) ? (!mounted.metadata['mountPoint'].nil? ? mounted.metadata['mountPoint'] : "").strip.html_safe : ""  %>" data-installer="<%= defined?(mounted.metadata) ? (!mounted.metadata['installerPoint'].nil? ? mounted.metadata['installerPoint'] : "").strip.html_safe : ""  %>" href="<%= @mExt == mounted.name.strip ? "#" : "/manager/cms/extensions?id=#{mounted.name.strip}" %>"><%= defined?(mounted.metadata) ? mounted.metadata['fullName'].strip.html_safe : "" %></a></li>
                                    <%
                                        end
                                       else %>
                                        <li><a href="#"><%= t(:no_extensions_installed) %></a></li>
                                    <%   end
                                       end
                                    %>
                                </ul>
                            </li>
                            <% end %>
                            <li>
                              <a id="menuItemAppSelection" href="/manager/cms/apps"><i class="icon-th icon-white"></i></a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>&nbsp;<%= session[:showable_username].nil? ? '' : session[:showable_username].to_s.html_safe %></a>
                              <ul class="dropdown-menu">
                                <li class="<%= @mPage == 'user_profile' ? 'active' : '' %>"><a href="<%= @mPage == 'user_profile' ? '#' : '/manager/cms/profile' %>"><%= t(:profile) %></a></li>
                                <li><%= UserSession.find.nil? ? '' : "<a href='/auth/local/delete'>#{t(:logout)}</a>".html_safe %></li>
                              </ul>
                            </li>

                        </ul>
                    </div><!--/.nav-collapse -->
                    <div style="float:right;padding: 15px 0 15px 0;color:white;">
                      <span><%= t(:version) %> <%= @build_version %></span>
                    </div>
                </div>
            </div>
        </div>
        
        <%= yield %>

        <!-- Global Script -->
        <%= javascript_include_tag "manager/global" %>
    </body>
</html>

